rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Zero-knowledge encrypted records for Studeo
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
